* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-row {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-height: 30px;
    max-width: 30px;
}

.grid-cells {
    display: flex;
    border: 1px solid black;
    min-height: 30px;
    min-width: 30px;
}