* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 12px;
    margin-bottom: 12px;
}

button{
    padding: 5px 10px;
}

.grid-row {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-height: 30px;
    max-width: 30px;
}

.grid-cells {
    display: flex;
    border: 1px solid black;
    min-height: 30px;
    min-width: 30px;
}

.black {
    background-color: black;
}