* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-column {
    display: flex;
    border: 1px solid black;
    min-height: 50px;
    max-width: 50px;
}

